#sidebar
{
	margin: 0 20px 0 20px;
	width: 860px;
	padding: 0 0 0 0;
	white-space: nowrap;
	font-size: 65%;
}
#sidebar th
{
    text-align: left;
    border: solid;
}
#schedule_table
{
	font-size: 80%;
}
.clickable
{
	background-color: #FFBF00;
	cursor: pointer;
}
.clickable:hover { background-color: #FFDF80; }
.badge:hover { background-color: #FFFFFF; }
.badge
{
	background-color: #CCCCCC;
	cursor: pointer;/*
    border: solid;
    border-color: #888888;*/
}
/*.Webelos
{
	background-color: #4040FF;
	cursor: pointer;
}
.Webelos:hover { background-color: #8080DD; }
.Scout
{
	background-color: #D41F1D;
    color: #FFFFFF;
	cursor: pointer;
    border: solid;
    border-color: #000000;
}
.Scout:hover { background-color: #D49F9D; }
.Webelo_Leader
{
	background-color: #0000DD;
	cursor: pointer;
}
.Webelo_Leader:hover { background-color: #8080DD; }
.Scouter
{
	background-color:#DD0000;
	cursor: pointer;
}
.Scouter:hover { background-color: #DD8080; }
.All:hover { background-color: #FFFFFF; }
.All
{
	background-color: #AAAAAA;
	cursor: pointer;
}
.Youth:hover { background-color: #FFFFFF; }
.Youth
{
	background-color: #AAAAAA;
	cursor: pointer;
}
.Adult:hover { background-color: #FFFFFF; }
.Adult
{
	background-color: #AAAAAA;
	cursor: pointer;
}*/
.scrolls:
{
	overflow-y: scroll;
}
