/*************************************************************************************************
 * space.jam.css                                                                                 *
 *                                                                                               *
 * The main Space Jamboree CSS stylesheet.                                                       *
 *                                                                                               *
 * Written by Brian Walker                                                                       *
 * on ??/??/2009                                                         Last updated 01/14/2011 *
 *                                                                       by Austin Walker        *
 *                                                                       awalkerenator@gmail.com *
 *                                                                                               *
 * Copyright (c) 2009, 2010 Boy Scouts of America Crew 272 and Troop 17.                         *
 *************************************************************************************************/

body
{
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	background-color: black;
	background-image: url('/img/stars.jpg');
}

/********** Header **********/
#header
{
	text-align: center;
	display: block;
	background: #ffbf00;
	z-index: 5;
	position: relative;
	border-bottom: 2px solid #a0a0a4;
}
#header a img
{
	border-style: none;
}

/********** Navigation Bar **********/
#navbar
{
	background: #d41f1d;
	text-align: center;
	width: 1000px;
	margin: 0 auto 0 auto;
	z-index: 5;
	position: relative;
}
.borderless
{
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	padding: 0px;
	margin: 0 auto 0 auto;
}
#navBarBottomLeft
{
	background-image: url('/img/tableBorders/10x10-bottomLeft-redOnBlack.png');
	background-repeat: no-repeat;
	background-position: bottom left;
}
#navBarBottomRight
{
	background-image: url('/img/tableBorders/10x10-bottomRight-redOnBlack.png');
	background-repeat: no-repeat;
	background-position: bottom left;
}
#navBarTable
{
	width: 1000px;
	margin: 0 auto 0 auto;
}
#navButtonTable h1
{
	font-size: 20px;
	margin: 0 0 0 0;
}
.navButton
{
	 display: inline;
}
#navButtonTable h1 a
{
	text-decoration: none;
	color: #2A1F00;
}
#navButtonTable h1 a:hover
{
	color: blue;
}
.current
{
	background: #dedede;
}
.square
{
	width: 10px;
	height: 10px;
}
.tall
{
	width: 10px;
}
.long
{
	height: 10px;
}
#topLeftCurrent
{
	background-image: url('/img/tableBorders/10x10-topLeft-grayOnRed.png');
}
#topRightCurrent
{
	background-image: url('/img/tableBorders/10x10-topRight-grayOnRed.png');
}
#bottomLeftCurrent
{
	background-image: url('/img/tableBorders/10x10-bottomLeft-grayOnRed.png');
}
#bottomRightCurrent
{
	background-image: url('/img/tableBorders/10x10-bottomRight-grayOnRed.png');
}

/********** Login Bar **********/
#loginbar
{
	background: #d41f1d;
	z-index: 5;
	position: relative;
	padding: 5px 0px 5px 0px;
}
#login
{
	background: #ffbf00;
	position: relative;
	z-index: 5;
	text-align:center;
	width: 850px;
	padding: 5px 0px 5px 0px;
	margin: 0px auto 0px auto;
}
#loggedin
{
	background: #ffbf00;
	position: relative;
	z-index: 5;
	text-align:center;
	width: 400px;
	margin: 0px auto 0px auto;
}
#admin
{
	background: #ffbf00;
	position: relative;
	z-index: 5;
	text-align: center;
	border-top: 5px solid #d41f1d;
	border-bottom: 5px solid #d41f1d;
	font-size: 20px;
	letter-spacing: 20px;
}

/********** Content **********/

#main
{
	width: 900px;
	margin: 0px auto 0px auto;
	padding: 0 5px 0 5px;
	clear: both;
	z-index: 4;
	position: relative;
}
#content
{
	padding: 0 20px 0 20px;
	width: 640px;
	float: right;
	position: relative;
	z-index: 1;
}
#content p
{
	line-height: 1.4em;
	color: #2a1f00;
}
#content h1
{
	color: #2a1f00;
}
#content h2
{
	color: #2a1f00;
}
#content h3
{
	color: #2a1f00;
}
#sidebar
{
	margin: 20px 0 0 0;
	padding: 0 20px 0 20px;
	width: 180px;
	position: relative;
	float: left;
	z-index: 1;
}
#sidebar p
{
	line-height: 1.4em;
	color: #2a1f00;
}
#sidebar h1
{
	color: #2a1f00;
}
#error
{
	z-index: 1;
	position: relative;
	border: 10px solid #d41f1d;
}
#error p
{
	text-align: center;
	color: #d41f1d;
}
#column
{ /* What is this?  Well, it turns out that there is no easy way to make columns that works well in
	both IE6 and newer browsers like Firefox.  This is a trick: basically, the main div, wich creates
	the nice background to the columns will default to 0 size when relative content is placed on them.
	This little fix div fakes out the browser and tells the background to have the correct height. */
	position: absolute;
	height: 10000em; /* This is actually 10000em UP, so it just gets covered at the top by the header. */
	background: #dedede;
	width: 900px;
	bottom: 0;
	/*border-left: 10px solid #d41f1d;
	border-right: 10px solid #d41f1d;*/
	z-index: 0;
}
.border
{
	position: absolute;
	height: 10000em;
	bottom: 0;
	z-index: 0;
	background: #dedede;
}
#clear
{
	clear: both;
	height: 1px;
	margin-top: -1px;
	overflow: hidden;
}
#spacer
{ /* This sets the minimum height of the page. */
	position: relative;
	float: left;
	height: 729px;
}

/********** Footer **********/
#footer
{
	padding: 10px 20px 1px 20px;
	background: #ffbf00;
	text-align: center;
	color: #2a1f00;
	clear: both;
}
#footer img
{
	padding: 0px 20px 0px 20px;
	border-style: none;
}
#copyright
{
	font-size: 12px;
	color: #a1a1a1;
	padding: 10px 0px 0px 0px;
}
#copyright a
{
	font-size: 12px;
	color: #a1a1a1;
	padding: 10px 0px 0px 0px;
}
